@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission 3: A search for more code";
}


<!--Takes the different catagories for the grades in a form so you can use them in JS-->
<h2>GPA Calc</h2>
<form method="post">
    <label>Assignment Grade:</label>
    <input id="assignments" name="Assignments" />
    <br />
    <label>Group Project Grade:</label>
    <input id="groupProject" name="Group_Projects"/>
    <br />
    <label>Quizzes Grade:</label>
    <input id="quizzes" name="Quizzes"/>
    <br />
    <label>Exams Grade:</label>
    <input id="exams" name="Exams"/>
    <br />
    <label>Intex Grade:</label>
    <input id="intex" name="Intex"/>
    <br />
    <input id="btnCheck" type="submit" value="Submit" />
</form>
<br />
<br />
<!--our gpa calulator program-->
<script src="js/gpaCalc.js"></script>